# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
# IPython profile
profile_default/
ipython_config.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg
MANIFEST

# Virtual environment
.venv/
venv/
env/
ENV/
*.venv
